body {
  font-family: 'ABeeZee', sans-serif;
  background-color: rgb(201, 201, 201);
}
div.review > button, .btn {
  border-radius: 13px;
  background-color: rgb(100, 106, 161);
  margin: 2px;
}

.header {
  border-bottom: double rgb(103, 112, 255) 2px;
  background-color: rgba(235, 243, 251, 0.6);
  padding-left: 10px;
}

div.header > button {
  background-color: rgb(53, 119, 167);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

div.header > button:hover {
  background-color: rgb(255, 253, 38);
}

.welcome {
  border: solid rgb(0, 70, 162) 1px;
  background-color: rgba(235, 243, 251, 0.9);
  text-align: center;
  margin-bottom: auto;
  margin-top: 10px;
  padding: 10px;
  padding-bottom: 90px;
  padding-top: 90px;
}

.review {
  border-left: solid rgb(0, 70, 162) 1px;
  background-color: rgba(235, 243, 251, 0.9);
  margin-bottom: auto;
  margin-top:10px;
  padding: 10px;
}

.nightMode {
    -webkit-filter: invert(100%);
    background-color: rgb(41, 41, 41);
}
