body {
  font-family: 'ABeeZee', sans-serif;
  background-image: url(http://7-themes.com/data_images/out/61/6980749-balloons-house-in-up-movie.jpg);
}

.header {
  border-bottom: double rgb(103, 112, 255) 2px;
  background-color: rgba(235, 243, 251, 0.6);
  padding-left: 10px;
  padding-bottom: 8px;
}

.welcome {
  border: solid rgb(0, 70, 162) 1px;
  background-color: rgba(235, 243, 251, 0.9);
  text-align: center;
  margin-bottom: auto;
  margin-top: 10px;
  padding: 10px;
  padding-bottom: 90px;
  padding-top: 90px;
}
